<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>jUDDI</display-name>
    <description>
        jUDDI is Java-based implementation of an UDDI version 3.0 registry.
    </description>

    <listener>
        <!-- this class setups the encryption key for the session-->
        <display-name>Startup Servlet listener</display-name>
        <listener-class>org.apache.juddi.adminconsole.StartupServlet</listener-class>
    </listener>

    <listener>
        <display-name>Registry Servlet listener</display-name>
        <listener-class>org.apache.juddi.servlets.RegistryServlet</listener-class>
    </listener>

    <welcome-file-list id="WelcomeFileList">
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>jUDDI Admin content</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>uddiadmin</role-name>
        </auth-constraint>
        <!-- uncomment to require SSL <user-data-constraint>
          <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
        -->
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <!-- you should consider NOT using BASIC is favor of something more secure, see your web app servers documentation for details -->
        <realm-name>Apache jUDDI - Make sure you're using HTTPS!</realm-name>
    </login-config>
    <security-role>
        <role-name>uddiadmin</role-name>
    </security-role>
</web-app>
    
